:root {
  --primary-color: #f4ce14;
  --secondary-color: #495e57;
  --light-color: #d5d5d5;
  --white-color: #fff;
  --gray-color: #485057;
  --dark-color: #343a40;
  --danger-color: #f33333;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary-color: #f4ce14;
    --secondary-color: #495e57;
    --light-color: #343a40;
    --dark-color: #d5d5d5;
    --white-color: #222;
    --danger-color: #f33333;
  }
} */

input[id="mode"][type="checkbox"] {
  position: relative;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 40px;
  appearance: none;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 2px 2px var(--dark-color),
    inset 0 -2px 2px var(--dark-color);
  transition: 0.5s;
  cursor: pointer;
}

input[id="mode"][type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: var(--secondary-color);
  box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #ffffff33;
  transition: 0.5s;
}

input:checked[id="mode"][type="checkbox"] {
  background-color: #222;
  box-shadow: inset 0 2px 2px var(--gray-color),
    inset 0 -2px 2px var(--gray-color);
}

input:checked[id="mode"][type="checkbox"]::before {
  background-color: var(--primary-color);
  box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #ffffff33;
  transform: translateX(40px);
}

/* Change theme mode button */
.mode-container {
  z-index: 1;
  position: fixed;
  overflow: hidden;
  bottom: 75px;
  right: 50px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--white-color);
  & #moon {
    position: relative;
    width: 20px;
    height: 20px;
    top: -40px;
    left: -100px;
    color: var(--dark-color);
    transition: 0.5s;
  }
  & input:checked[id="mode"][type="checkbox"] ~ #sun {
    left: 15px;
    ~ #moon {
      left: 145px;
    }
  }
  & #sun {
    position: relative;
    width: 20px;
    height: 20px;
    top: -40px;
    left: -95px;
    color: var(--white-color);
    transition: 0.5s;
  }
  & input[id="mode"][type="checkbox"] ~ #moon {
    left: 30px;
  }
}

.mode-click {
  position: fixed;
  bottom: 75px;
  right: 50px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  opacity: 0.5;
  z-index: 2;
  cursor: pointer;

  &:hover ~ input[id="mode"][type="checkbox"]::before {
    opacity: 0.75;
  }
}

* {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  transition: 0.5s;
  & i.delete {
    color: var(--danger-color);
    &:active {
      opacity: 0.7;
    }
  }

  /* Light theme style */
  &.light-theme {
    background-color: var(--white-color);
    color: black;
    & .container {
      background-color: var(--light-color);
    }
    & .post-card {
      background-color: var(--white-color);
      color: var(--dark-color);
      & hr {
        border-color: var(--secondary-color);
        opacity: 0.5;
      }
    }
    & textarea {
      background-color: var(--white-color);
      caret-color: var(--primary-color);
      color: var(--dark-color);
      transition: 0.5s;
      &::placeholder {
        color: var(--dark-color);
        opacity: 0.7;
      }
    }
    & .form-title {
      color: var(--secondary-color);
    }
    & input:focus {
      border: 2px solid var(--secondary-color) !important;
    }
    & .navbar {
      border-bottom: solid 3px var(--white-color);
    }
    & .add-button {
      color: var(--secondary-color);
      transition: 0.05s;
      &:active {
        color: var(--primary-color);
      }
    }
    & p {
      /* color: var(--dark-color); */
      & a {
        color: var(--secondary-color);
        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    & .mode-click:active ~ input[id="mode"][type="checkbox"]::before {
      border-radius: 47.5%;
      width: 35px;
      left: 5px;
    }
    & i.fab {
      color: var(--dark-color);
    }
  }

  /* Dark theme style */
  &.dark-theme {
    color-scheme: light;
    background-color: var(--dark-color);
    color: var(--white-color);
    & .container {
      background-color: var(--gray-color);
    }
    & .post-card {
      background-color: var(--gray-color);
      color: var(--white-color);
      & hr {
        border-color: var(--white-color);
      }
    }
    & textarea {
      background-color: var(--gray-color);
      caret-color: var(--primary-color);
      color: var(--white-color);
      transition: 0.5s;
      &::placeholder {
        color: var(--light-color);
        opacity: 0.7;
      }
    }
    & .form-title {
      color: var(--primary-color);
    }
    & input:focus {
      border: 2px solid var(--secondary-color) !important;
    }
    & .navbar {
      border-bottom: solid 3px var(--dark-color);
    }
    & .add-button {
      color: var(--primary-color);
      transition: 0.05s;
      &:active {
        color: var(--secondary-color);
      }
    }
    & .main {
      background-color: var(--gray-color);
      & select {
        background-color: var(--dark-color);
        color: var(--white-color);
      }
      & input {
        background-color: var(--dark-color);
        color-scheme: dark;
        color: var(--white-color);
        &::placeholder {
          color: var(--light-color);
          opacity: 0.7;
        }
      }
      & input[type="date"] {
        color: var(--light-color);
      }
      & input[type="file"] {
        color: var(--light-color);
        color-scheme: light;
      }
      & input[type="submit"] {
        background-color: var(--primary-color);
        color: var(--dark-color);
      }
      & textarea {
        background-color: var(--dark-color);
      }
    }
    & input:checked[id="mode"][type="checkbot"] {
      background-color: red;
    }
    & input:focus {
      border: 2px solid var(--primary-color) !important;
    }
    & .input-edit {
      background-color: var(--gray-color);
      color: var(--white-color);
      caret-color: var(--primary-color);
      border-color: var(--light-color);

      &:focus {
        border-color: var(--primary-color);
      }
    }
    & p {
      color: var(--white-color);
      & a {
        color: var(--primary-color);
      }
    }
    & .mode-click:active ~ input[id="mode"][type="checkbox"]::before {
      border-radius: 47.5%;
      width: 35px;
      left: 0;
    }
    & #loader {
      stroke: var(--primary-color);
      & path {
        stroke: var(--primary-color);
      }
    }
    & i.fab {
      color: var(--light-color);
    }
  }
}

#loader {
  position: absolute;
  display: flex;
  place-content: center;
  top: 45vh;
  width: 100%;
  height: 100%;
}

input[id="mode"][type="checkbox"] &:active::before {
  border-radius: 48%;
  width: 40px;
  height: 30px;
  top: 5px;
  left: -10px;
  opacity: 0.7;
}

::selection {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  width: 100px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  transition: 0.25s;

  /* (for transform text blurring)
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  backface-visibility: hidden; */
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-primary {
  background: var(--secondary-color);
  color: var(--white-color);
}

.btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--white-color);
}

.btn-danger {
  background-color: var(--danger-color);
  color: var(--white-color);
  width: 180px;
}

.btn:not(#login, #register):hover {
  box-shadow: 0 3px 1px black;
  transform: translate(0, -3px);
}

a:not(#login, #register)[class~="btn"] {
  position: relative;
  top: 0;
  transition: 0.25s;
}

a:not(#login, #register):hover[class~="btn"] {
  top: -3px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

small {
  font-size: 14px;
}

.post-card {
  border-radius: 10px;
  width: 70%;
  margin-top: 20px;
  background-color: var(--white-color);
  padding: 10px;
  margin-left: 180px;
  margin-bottom: 20px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  transition: 0.5s;
}

.post-card .comment-count {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
  position: relative;
  top: -2px;
}

.center {
  text-align: center;
}

.post-card textarea {
  width: 75%;
  border: 0;
  resize: none;
  margin-left: 0;
  text-align: left;
}

/*
  Sidebar 
*/

.sidebar {
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 55px;
  left: 0;
  background: var(--secondary-color);
  overflow-x: hidden;
  padding-top: 16px;
  border-right: 3px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}

.sidebar:hover {
  width: 175px;
}

.sidebar a {
  padding-left: 16px;
  text-decoration: none;
  width: fit-content;
  font-size: 20px;
  color: inherit;
  display: block;
  transition: 0.1s;
}

.sidebar :not(.active) a:hover {
  opacity: 70%;
  text-shadow: -2px 2px 2px #000;
}

.sidebar :not(.pfp-circle, .active) a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 70%;
  height: 2px;
  border-radius: 10px;
  background-color: #ddd;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.25s ease-in-out;
}

.sidebar .active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 70%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.75s;
}

.sidebar:hover .active a::after {
  transform: scaleX(1);
}

.sidebar a:hover::after {
  transform: scaleX(1);
}

.sidebar > .pfp-circle {
  position: relative;
  top: -150px;
  left: 15px;
  margin-bottom: 50px;
  transition: 0.5s;
  & img {
    width: 100px;
    height: 100px;
  }
}

.sidebar:hover > .pfp-circle {
  top: 15px;
  & img {
    width: 100px;
    height: 100px;
  }
}

.link-style > .fas {
  visibility: visible;
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 25px;
  text-shadow: 0 0 25px #000;
}

.sidebar > .link-style {
  visibility: hidden;
  color: white;
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  position: relative;
  left: -150px;
  transition: 0.5s;
}

.sidebar:hover > .link-style {
  visibility: visible;
  left: 15px;
}

.sidebar .active {
  color: var(--primary-color);
}

.sidebar .settings {
  position: absolute;
  left: -152px;
  bottom: 75px;
}

/*
  Small circular profile image
*/

.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid white;
}

/*
  Landing page
*/

.landing {
  background-image: url("../src/assets/landing.jpg");
  height: 100vh;
  position: relative;
}

.landing-inner {
  color: var(--white-color);
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*
  Landing page title
*/

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Home and Profile pages */

.home {
  margin-left: 175px; /* Same as the width of the sidenav */
  padding-top: 85px;
}

.border-box {
  box-sizing: border-box;
}

.home-column {
  float: left;
  width: 45%;
  padding: 10px;
}

.home-row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.container {
  background-color: var(--light-color);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.container p {
  text-align: left;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container .delete {
  float: right;
  padding: 5;
  visibility: hidden;
  cursor: pointer;
}

.container:hover .delete {
  visibility: visible;
}

.container:hover {
  opacity: 0.8;
}

.add-button {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.add-button img {
  width: 30px;
}

.add-button ::after {
  clear: both;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.social {
  text-align: center;
  margin: 5px;
}
.social a {
  margin: 5px;
  color: var(--dark-color);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: "Zilla Slab Highlight";
  transition: 0.5s;

  & i {
    display: none;
  }

  & #X {
    display: none;
  }
}

.navbar a {
  color: var(--white-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
  transition: 0.2s;
  &.logo-navbar {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
  }
}

.navbar a:hover {
  /* opacity: 0.8; */
  text-decoration: none;
  color: var(--primary-color);
  &.logo-navbar {
    top: 2px;
    left: 2px;
    text-shadow: -2px -2px 5px black;
  }
}

ul {
  list-style: none;
}

.bg-navbar {
  background: var(--secondary-color);
}

/* Developers Page */

.column {
  float: left;
  width: 16.6%;
  padding: 0 10px;
  text-align: center;
}

.row {
  margin-left: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  height: 300px;
  cursor: pointer;
  margin-bottom: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-container {
  padding: 2px 16px;
  color: var(--dark-color);
}

.title {
  color: grey;
}

/* Auth Pages */

.main {
  background-color: var(--white-color);
  margin: 7rem auto;
  border-radius: 10px;
  padding-top: 40px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  width: 600px;
  text-align: center;
}

.logo {
  font-family: "Zilla Slab Highlight";
  font-size: 50px;
  margin-bottom: 0px;
}

.logo-navbar {
  font-family: "Zilla Slab Highlight";
  font-size: 30px;
  margin-bottom: 0;
}

.login {
  height: 400px;
  width: 400px;
}

.register {
  height: 520px;
  width: 400px;
}

form.form1 {
  padding: 20px 0;
}

.form-title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 10px;
}

.form1 input[type="text"],
input[type="password"],
input[type="file"],
input[type="date"],
select,
textarea {
  width: 75%;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-left: 4%;
  text-align: left;
  margin-bottom: 27px;
}

.form1 textarea {
  resize: vertical;
}

input[type="submit"] {
  margin-bottom: 1rem;
}

.input-edit {
  outline: none;
  transition: 0.5s;
}

.input-edit:focus {
  border-color: var(--secondary-color);
}

.input-text:focus {
  transition: 0.5s;
  border: 2px solid var(--secondary-color) !important;
}

.forgot {
  color: var(--secondary-color);
  padding-top: 15px;
  & a {
    font-weight: bold;
    transition: 0.1s;
  }
}

.forgot :hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.form1 a {
  color: var(--secondary-color);
}

.form1 a :hover {
  opacity: 0.8;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 5px;
  }
  .home-column {
    width: 100%;
    padding: 0;
  }
  .add-button {
    float: left;
  }
  .mode-container {
    bottom: 7.5vh;
    right: 5vh;
  }
  .mode-click {
    bottom: 7.5vh;
    right: 5vh;
  }
  #post-button {
    margin-left: 15px;
  }
  .post-buttons {
    width: 140%;
    text-align: left;
    margin-top: 10px;
    & .btn {
      width: 60px;
    }
  }
  .comment-buttons {
    width: 140%;
    text-align: left;
    margin-top: 10px;
    & .btn {
      width: 55px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    width: 80%;
    /* & input.input-text {
      margin-left: 40px;
      } */
    &:has(.form1) {
      padding-top: 1.5rem;
      margin: 125px auto;
    }
  }

  .main.login {
    height: 400px;
    width: 300px;
  }

  .main.register {
    height: 500px;
    width: 350px;
  }

  .btn {
    /* display: block; */
    width: 90px;
    margin: 10px auto;
  }

  .home {
    & > div {
      width: 90%;
      margin-left: 5%;
    }
    & > .row {
      width: 80%;
      position: relative;
      left: 10%;
    }
  }

  .post-card {
    margin-bottom: 20px;
  }

  /* .btn-light {
    background-color: var(--dark-color);
    color: var(--white-color);
    margin: 10px 10px 20px 0;
  } */

  .landing {
    width: 110%;
    left: -20px;
  }

  .landing-inner p {
    width: 70%;
    margin-bottom: 15px;
  }

  .navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    & #logout {
      display: none;
    }
    & i.fas.fa-bars {
      display: initial;
      position: relative;
      left: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--white-color);
      transition: 0.25s;
      &:active {
        text-shadow: -1px 1px 10px black;
      }
    }
    & #X {
      display: inline-block;
      position: relative;
      visibility: hidden;
      order: -1;
    }
  }

  .sidebar {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: -200px;
    background: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 16px;
    border-right: 3px solid var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    font-family: "Lato", sans-serif;
    transition: 0.5s;

    & .pfp-circle {
      top: 15px;
    }
    & .link-style {
      visibility: visible;
      left: 15px;
    }
    & .active a::after {
      transform: scaleX(1);
    }
    & a:hover {
      text-shadow: 0;
      &::after {
        transform: scaleX(0);
      }
    }
    &:not(.active) a:hover {
      opacity: 1;
      text-shadow: 0 0 0;
    }
    & a:focus {
      text-shadow: -2px 2px 2px #000;
      &::after {
        transform: scaleX(1);
      }
    }
    & .settings {
      position: absolute;
      left: 15px;
      bottom: 130px;
    }
    & #sidebar-logout {
      position: absolute;
      left: 15px;
      bottom: 75px;
    }
  }

  * :not(.sidebar):focus {
    & .sidebar {
      display: none;
    }
  }

  .mode-container {
    z-index: 99;
    position: fixed;
    overflow: hidden;
    top: 15px;
    right: 25px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--white-color);
    transition: 0.5s;
    & #moon {
      position: relative;
      font-size: 15px;
      width: 15px;
      height: 15px;
      top: -34.5px;
      left: -80px;
      color: var(--dark-color);
      transition: 0.5s;
    }
    & input:checked[id="mode"][type="checkbox"] ~ #sun {
      left: 8px;
      ~ #moon {
        left: 130px;
      }
    }
    & #sun {
      position: relative;
      font-size: 15px;
      width: 15px;
      height: 15px;
      top: -34.5px;
      left: -102px;
      color: var(--white-color);
      transition: 0.5s;
    }
    & input[id="mode"][type="checkbox"] ~ #moon {
      left: 22px;
    }
  }

  .mode-click {
    position: fixed;
    top: 15px;
    right: 25px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    transition: 0.25s;

    &:hover ~ input[id="mode"][type="checkbox"]::before {
      opacity: 1;
    }
  }

  body.light-theme
    .mode-click:active
    ~ input[id="mode"][type="checkbox"]::before {
    border-radius: 50%;
    width: 26px;
    left: 5px;
  }

  body.dark-theme
    .mode-click:active
    ~ input[id="mode"][type="checkbox"]::before {
    border-radius: 50%;
    width: 26px;
    left: -12px;
  }

  input[id="mode"][type="checkbox"] {
    position: relative;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 30px;
    appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 1.5px 1.5px var(--dark-color),
      inset 0 -1.5px 1.5px var(--dark-color);
    transition: 0.5s;
    cursor: pointer;
  }

  input[id="mode"][type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: var(--secondary-color);
    box-shadow: inset 0 1.5px 1.5px #ffffff33, inset 0 -1.5px 1.5px #ffffff33;
    transition: 0.5s;
  }

  input:checked[id="mode"][type="checkbox"] {
    background-color: var(--dark-color);
  }

  input:checked[id="mode"][type="checkbox"]::before {
    left: -6px;
  }

  .form1 input[type="text"],
  input[type="password"],
  input[type="file"],
  input[type="date"],
  select,
  textarea {
    font-size: small;
    margin: 0 0 1rem 0;
    transition: 0.3s;
  }

  .form1 .btn-light {
    font-size: small;
  }

  .navbar a:active {
    /* opacity: 0.8; */
    text-decoration: none;
    color: var(--primary-color);
    &.logo-navbar {
      top: 2px;
      left: 2px;
      text-shadow: -2px -2px 5px black;
    }
  }

  button[type="button"],
  input[type="submit"] {
    font-size: small;
  }

  #back-btn {
    margin-left: 10px;
  }

  .post-buttons {
    width: 140%;
    text-align: left;
    margin-top: 10px;
    & .btn {
      width: 60px;
      margin: 10px;
    }
  }

  .comment-buttons {
    width: 140%;
    text-align: left;
    margin-top: 10px;
    & .btn {
      width: 55px;
      margin: 10px;
    }
  }

  .home {
    margin-left: 0;
    & .row {
      margin-left: 0;
    }
  }
  .post-card {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
